<ion-view view-title="Contacts">
    <ion-nav-buttons side="right">
        <button ng-click="contacts.addContact()" class="button button-clear button-positive ion-plus-round"></button>
    </ion-nav-buttons>
    <ion-content class="contacts">
        <!--        <ion-list>
            <ion-item ng-repeat="contact in contacts.phoneContacts">
                <div class="item item-text-wrap">
                    <p><strong>Phone(s)</strong></p>
                    <div ng-repeat="number in contact.phoneNumbers">
                        <p>{{number.value}}</p>
                    </div>
                    <p><strong>Email(s)</strong></p>
                    <div ng-repeat="email in contact.emails">
                        <p>{{email.value}}</p>
                    </div>
                </div>
            </ion-item>
            </ion-list>-->

        <div class="list">

            <a class="item item-thumbnail-left" ng-repeat="contact in contacts.selectedContacts">
                <img src="{{contact.photos[0].value}}" ng-if="contact.photos.length > 0">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Silver_-_replace_this_image_male.svg/200px-Silver_-_replace_this_image_male.svg.png"
                     ng-if="contact.photos.length === 0">
                <h2>{{contact.displayName}}</h2>
                <p ng-if="contact.emails.length > 0">{{contact.emails[0].type}} : {{contact.emails[0].value}}</p>
                <p ng-if="contact.phones.length > 0">{{contact.phones[0].type}} : {{contact.phones[0].value}}</p>
            </a>

        </div>
    </ion-content>
</ion-view>